root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4

disabled_rules = indent, final-newline

ktlint_standard_class-naming = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_no-wildcard-imports = disabled
