root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4

ktlint_standard_indent = disabled
ktlint_standard_final-newline = disabled

ktlint_standard_class-naming = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_no-wildcard-imports = disabled
