/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package hu.petrik.filcapp.api.client

import hu.petrik.filcapp.api.model.DeleteBugReportById200Response
import hu.petrik.filcapp.api.model.GetBugReport200Response
import hu.petrik.filcapp.api.model.GetBugReport400Response
import hu.petrik.filcapp.api.model.PatchBugReportByIdStatus200Response
import hu.petrik.filcapp.api.model.PatchBugReportByIdStatusRequest
import hu.petrik.filcapp.api.model.PostBugReport201Response
import hu.petrik.filcapp.api.model.PostBugReport400Response
import hu.petrik.filcapp.api.model.PostBugReportRequest

import hu.petrik.filcapp.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class BugReportsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Delete a bug report
     * @param id 
     * @return DeleteBugReportById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteBugReportById(id: kotlin.String): HttpResponse<DeleteBugReportById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/bug-report/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter status
     */
    @Serializable
    enum class StatusGetBugReport(val value: kotlin.String) {
        
        @SerialName(value = "open")
        `open`("open"),
        
        @SerialName(value = "in_progress")
        in_progress("in_progress"),
        
        @SerialName(value = "resolved")
        resolved("resolved"),
        
        @SerialName(value = "closed")
        closed("closed")
        
    }

    /**
     * 
     * List bug reports with optional filters and paging
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param limit  (optional, default to 20)
     * @param page  (optional, default to 1)
     * @param search  (optional)
     * @param status  (optional)
     * @return GetBugReport200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getBugReport(dateFrom: kotlin.String? = null, dateTo: kotlin.String? = null, limit: kotlin.Int? = 20, page: kotlin.Int? = 1, search: kotlin.String? = null, status: StatusGetBugReport? = null): HttpResponse<GetBugReport200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        dateFrom?.apply { localVariableQuery["dateFrom"] = listOf("$dateFrom") }
        dateTo?.apply { localVariableQuery["dateTo"] = listOf("$dateTo") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        status?.apply { localVariableQuery["status"] = listOf("${ status.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/bug-report",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Update a bug report status
     * @param id 
     * @param patchBugReportByIdStatusRequest 
     * @return PatchBugReportByIdStatus200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun patchBugReportByIdStatus(id: kotlin.String, patchBugReportByIdStatusRequest: PatchBugReportByIdStatusRequest): HttpResponse<PatchBugReportByIdStatus200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = patchBugReportByIdStatusRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/bug-report/{id}/status".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Create a new bug report
     * @param postBugReportRequest 
     * @return PostBugReport201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postBugReport(postBugReportRequest: PostBugReportRequest): HttpResponse<PostBugReport201Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = postBugReportRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/bug-report",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
