/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package hu.petrik.filcapp.api.client

import hu.petrik.filcapp.api.model.DeleteBugReportById200Response
import hu.petrik.filcapp.api.model.GetDoorlockCards200Response
import hu.petrik.filcapp.api.model.GetDoorlockCardsUsers200Response
import hu.petrik.filcapp.api.model.GetDoorlockDevices200Response
import hu.petrik.filcapp.api.model.GetDoorlockDevicesByIdStats200ResponseInner
import hu.petrik.filcapp.api.model.GetDoorlockLogs200Response
import hu.petrik.filcapp.api.model.GetDoorlockStatsOverview200Response
import hu.petrik.filcapp.api.model.PostBugReport400Response
import hu.petrik.filcapp.api.model.PostDoorlockCards201Response
import hu.petrik.filcapp.api.model.PostDoorlockCardsRequest
import hu.petrik.filcapp.api.model.PostDoorlockDevices201Response
import hu.petrik.filcapp.api.model.PostDoorlockDevicesByIdUpdate200Response
import hu.petrik.filcapp.api.model.PostDoorlockDevicesByIdUpdateRequest
import hu.petrik.filcapp.api.model.PostDoorlockDevicesRequest
import hu.petrik.filcapp.api.model.PostDoorlockDevicesUpdate200Response
import hu.petrik.filcapp.api.model.PostDoorlockSelfCardsByIdActivate200Response
import hu.petrik.filcapp.api.model.PostDoorlockSelfCardsByIdActivateRequest
import hu.petrik.filcapp.api.model.PutDoorlockCardsByIdRequest
import hu.petrik.filcapp.api.model.PutDoorlockDevicesByIdRequest
import hu.petrik.filcapp.api.model.PutDoorlockSelfCardsByIdFrozenRequest

import hu.petrik.filcapp.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DoorlockApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Delete an access card
     * @param id 
     * @return DeleteBugReportById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteDoorlockCardsById(id: kotlin.String): HttpResponse<DeleteBugReportById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/doorlock/cards/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Delete a doorlock device
     * @param id 
     * @return DeleteBugReportById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteDoorlockDevicesById(id: kotlin.String): HttpResponse<DeleteBugReportById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/doorlock/devices/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * List all access cards
     * @return GetDoorlockCards200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDoorlockCards(): HttpResponse<GetDoorlockCards200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/doorlock/cards",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * List users eligible for card ownership
     * @return GetDoorlockCardsUsers200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDoorlockCardsUsers(): HttpResponse<GetDoorlockCardsUsers200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/doorlock/cards/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * List all doorlock devices
     * @return GetDoorlockDevices200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDoorlockDevices(): HttpResponse<GetDoorlockDevices200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/doorlock/devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Get device health statistics
     * @param id 
     * @return kotlin.collections.List<GetDoorlockDevicesByIdStats200ResponseInner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDoorlockDevicesByIdStats(id: kotlin.String): HttpResponse<kotlin.collections.List<GetDoorlockDevicesByIdStats200ResponseInner>> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/doorlock/devices/{id}/stats".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetDoorlockDevicesByIdStatsResponse>().map { value }
    }

    @Serializable(GetDoorlockDevicesByIdStatsResponse.Companion::class)
    private class GetDoorlockDevicesByIdStatsResponse(val value: List<GetDoorlockDevicesByIdStats200ResponseInner>) {
        companion object : KSerializer<GetDoorlockDevicesByIdStatsResponse> {
            private val serializer: KSerializer<List<GetDoorlockDevicesByIdStats200ResponseInner>> = serializer<List<GetDoorlockDevicesByIdStats200ResponseInner>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetDoorlockDevicesByIdStatsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetDoorlockDevicesByIdStatsResponse(serializer.deserialize(decoder))
        }
    }


    /**
     * enum for parameter granted
     */
    @Serializable
    enum class GrantedGetDoorlockLogs(val value: kotlin.String) {
        
        @SerialName(value = "true")
        `true`("true"),
        
        @SerialName(value = "false")
        `false`("false")
        
    }

    /**
     * 
     * List audit log entries
     * @param cardId  (optional)
     * @param deviceId  (optional)
     * @param from  (optional)
     * @param granted  (optional)
     * @param limit  (optional, default to 500)
     * @param search  (optional)
     * @param to  (optional)
     * @param userId  (optional)
     * @return GetDoorlockLogs200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDoorlockLogs(cardId: kotlin.String? = null, deviceId: kotlin.String? = null, from: kotlin.String? = null, granted: GrantedGetDoorlockLogs? = null, limit: kotlin.Int? = 500, search: kotlin.String? = null, to: kotlin.String? = null, userId: kotlin.String? = null): HttpResponse<GetDoorlockLogs200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cardId?.apply { localVariableQuery["cardId"] = listOf("$cardId") }
        deviceId?.apply { localVariableQuery["deviceId"] = listOf("$deviceId") }
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        granted?.apply { localVariableQuery["granted"] = listOf("${ granted.value }") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/doorlock/logs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter granted
     */
    @Serializable
    enum class GrantedGetDoorlockLogsExport(val value: kotlin.String) {
        
        @SerialName(value = "true")
        `true`("true"),
        
        @SerialName(value = "false")
        `false`("false")
        
    }

    /**
     * 
     * Export doorlock audit log entries (attendance data) as a CSV file over an optional date range.
     * @param cardId  (optional)
     * @param deviceId  (optional)
     * @param from  (optional)
     * @param granted  (optional)
     * @param search  (optional)
     * @param to  (optional)
     * @param userId  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDoorlockLogsExport(cardId: kotlin.String? = null, deviceId: kotlin.String? = null, from: kotlin.String? = null, granted: GrantedGetDoorlockLogsExport? = null, search: kotlin.String? = null, to: kotlin.String? = null, userId: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cardId?.apply { localVariableQuery["cardId"] = listOf("$cardId") }
        deviceId?.apply { localVariableQuery["deviceId"] = listOf("$deviceId") }
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        granted?.apply { localVariableQuery["granted"] = listOf("${ granted.value }") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/doorlock/logs/export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * List cards owned by the authenticated user
     * @return GetDoorlockCards200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDoorlockSelfCards(): HttpResponse<GetDoorlockCards200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/doorlock/self/cards",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Get aggregated doorlock statistics
     * @return GetDoorlockStatsOverview200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDoorlockStatsOverview(): HttpResponse<GetDoorlockStatsOverview200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/doorlock/stats/overview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Create a new access card
     * @param postDoorlockCardsRequest 
     * @return PostDoorlockCards201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postDoorlockCards(postDoorlockCardsRequest: PostDoorlockCardsRequest): HttpResponse<PostDoorlockCards201Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = postDoorlockCardsRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/doorlock/cards",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Create a new doorlock device
     * @param postDoorlockDevicesRequest 
     * @return PostDoorlockDevices201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postDoorlockDevices(postDoorlockDevicesRequest: PostDoorlockDevicesRequest): HttpResponse<PostDoorlockDevices201Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = postDoorlockDevicesRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/doorlock/devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Trigger an OTA update on a specific device
     * @param id 
     * @param postDoorlockDevicesByIdUpdateRequest 
     * @return PostDoorlockDevicesByIdUpdate200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postDoorlockDevicesByIdUpdate(id: kotlin.String, postDoorlockDevicesByIdUpdateRequest: PostDoorlockDevicesByIdUpdateRequest): HttpResponse<PostDoorlockDevicesByIdUpdate200Response> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postDoorlockDevicesByIdUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/doorlock/devices/{id}/update".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Trigger an OTA update on all devices
     * @param postDoorlockDevicesByIdUpdateRequest 
     * @return PostDoorlockDevicesUpdate200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postDoorlockDevicesUpdate(postDoorlockDevicesByIdUpdateRequest: PostDoorlockDevicesByIdUpdateRequest): HttpResponse<PostDoorlockDevicesUpdate200Response> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postDoorlockDevicesByIdUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/doorlock/devices/update",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Activate an authorized device using a user-owned virtual card
     * @param id 
     * @param postDoorlockSelfCardsByIdActivateRequest  (optional)
     * @return PostDoorlockSelfCardsByIdActivate200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postDoorlockSelfCardsByIdActivate(id: kotlin.String, postDoorlockSelfCardsByIdActivateRequest: PostDoorlockSelfCardsByIdActivateRequest? = null): HttpResponse<PostDoorlockSelfCardsByIdActivate200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = postDoorlockSelfCardsByIdActivateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/doorlock/self/cards/{id}/activate".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Update an access card
     * @param id 
     * @param putDoorlockCardsByIdRequest 
     * @return PostDoorlockCards201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun putDoorlockCardsById(id: kotlin.String, putDoorlockCardsByIdRequest: PutDoorlockCardsByIdRequest): HttpResponse<PostDoorlockCards201Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = putDoorlockCardsByIdRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/doorlock/cards/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Update an existing doorlock device
     * @param id 
     * @param putDoorlockDevicesByIdRequest 
     * @return PostDoorlockDevices201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun putDoorlockDevicesById(id: kotlin.String, putDoorlockDevicesByIdRequest: PutDoorlockDevicesByIdRequest): HttpResponse<PostDoorlockDevices201Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = putDoorlockDevicesByIdRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/doorlock/devices/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Update the frozen state of a user-owned card
     * @param id 
     * @param putDoorlockSelfCardsByIdFrozenRequest 
     * @return PostDoorlockCards201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun putDoorlockSelfCardsByIdFrozen(id: kotlin.String, putDoorlockSelfCardsByIdFrozenRequest: PutDoorlockSelfCardsByIdFrozenRequest): HttpResponse<PostDoorlockCards201Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = putDoorlockSelfCardsByIdFrozenRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/doorlock/self/cards/{id}/frozen".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
