/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package hu.petrik.filcapp.api.client

import hu.petrik.filcapp.api.model.DeleteNewsAnnouncementsById200Response
import hu.petrik.filcapp.api.model.GetNewsAnnouncements200Response
import hu.petrik.filcapp.api.model.GetNewsAnnouncementsById200Response
import hu.petrik.filcapp.api.model.PatchNewsAnnouncementsById200Response
import hu.petrik.filcapp.api.model.PatchNewsAnnouncementsByIdRequest
import hu.petrik.filcapp.api.model.PostBugReport400Response
import hu.petrik.filcapp.api.model.PostNavigatorImportRequest
import hu.petrik.filcapp.api.model.PostNewsAnnouncements201Response
import hu.petrik.filcapp.api.model.PostNewsAnnouncementsRequest

import hu.petrik.filcapp.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class NewsAnnouncementsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Delete an announcement
     * @param id 
     * @return DeleteNewsAnnouncementsById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteNewsAnnouncementsById(id: kotlin.String): HttpResponse<DeleteNewsAnnouncementsById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/news/announcements/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Delete the image attached to an announcement
     * @param id 
     * @return PatchNewsAnnouncementsById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteNewsAnnouncementsByIdImage(id: kotlin.String): HttpResponse<PatchNewsAnnouncementsById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/news/announcements/{id}/image".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * List active announcements within date range, cohort-filtered by default; includeAll&#x3D;true returns everything
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param includeAll  (optional, default to "false")
     * @param includeExpired  (optional, default to "false")
     * @param includeKioskOnly  (optional, default to "false")
     * @return GetNewsAnnouncements200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getNewsAnnouncements(limit: kotlin.Int? = 20, offset: kotlin.Int? = 0, includeAll: kotlin.String? = "false", includeExpired: kotlin.String? = "false", includeKioskOnly: kotlin.String? = "false"): HttpResponse<GetNewsAnnouncements200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        includeAll?.apply { localVariableQuery["includeAll"] = listOf("$includeAll") }
        includeExpired?.apply { localVariableQuery["includeExpired"] = listOf("$includeExpired") }
        includeKioskOnly?.apply { localVariableQuery["includeKioskOnly"] = listOf("$includeKioskOnly") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/news/announcements",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Get a single announcement by ID
     * @param id 
     * @return GetNewsAnnouncementsById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getNewsAnnouncementsById(id: kotlin.String): HttpResponse<GetNewsAnnouncementsById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/news/announcements/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Update an existing announcement
     * @param id 
     * @param patchNewsAnnouncementsByIdRequest  (optional)
     * @return PatchNewsAnnouncementsById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun patchNewsAnnouncementsById(id: kotlin.String, patchNewsAnnouncementsByIdRequest: PatchNewsAnnouncementsByIdRequest? = null): HttpResponse<PatchNewsAnnouncementsById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = patchNewsAnnouncementsByIdRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/news/announcements/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Create a new announcement
     * @param postNewsAnnouncementsRequest 
     * @return PostNewsAnnouncements201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postNewsAnnouncements(postNewsAnnouncementsRequest: PostNewsAnnouncementsRequest): HttpResponse<PostNewsAnnouncements201Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = postNewsAnnouncementsRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/news/announcements",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Upload the image this announcement shows on the kiosk
     * @param id 
     * @param postNavigatorImportRequest 
     * @return PatchNewsAnnouncementsById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postNewsAnnouncementsByIdImage(id: kotlin.String, postNavigatorImportRequest: PostNavigatorImportRequest): HttpResponse<PatchNewsAnnouncementsById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = postNavigatorImportRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/news/announcements/{id}/image".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
