/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package hu.petrik.filcapp.api.client

import hu.petrik.filcapp.api.model.DeleteNewsAnnouncementsById200Response
import hu.petrik.filcapp.api.model.GetNewsSystemMessages200Response
import hu.petrik.filcapp.api.model.GetNewsSystemMessagesById200Response
import hu.petrik.filcapp.api.model.PatchNewsSystemMessagesById200Response
import hu.petrik.filcapp.api.model.PatchNewsSystemMessagesByIdRequest
import hu.petrik.filcapp.api.model.PostBugReport400Response
import hu.petrik.filcapp.api.model.PostNewsSystemMessages201Response
import hu.petrik.filcapp.api.model.PostNewsSystemMessagesRequest

import hu.petrik.filcapp.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class NewsSystemMessagesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Delete a system message
     * @param id 
     * @return DeleteNewsAnnouncementsById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteNewsSystemMessagesById(id: kotlin.String): HttpResponse<DeleteNewsAnnouncementsById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/news/system-messages/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * List active system messages within date range, filtered by user cohort
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param includeAll  (optional, default to "false")
     * @param includeExpired  (optional, default to "false")
     * @param includeKioskOnly  (optional, default to "false")
     * @return GetNewsSystemMessages200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getNewsSystemMessages(limit: kotlin.Int? = 20, offset: kotlin.Int? = 0, includeAll: kotlin.String? = "false", includeExpired: kotlin.String? = "false", includeKioskOnly: kotlin.String? = "false"): HttpResponse<GetNewsSystemMessages200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        includeAll?.apply { localVariableQuery["includeAll"] = listOf("$includeAll") }
        includeExpired?.apply { localVariableQuery["includeExpired"] = listOf("$includeExpired") }
        includeKioskOnly?.apply { localVariableQuery["includeKioskOnly"] = listOf("$includeKioskOnly") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/news/system-messages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Get a single system message by ID
     * @param id 
     * @return GetNewsSystemMessagesById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getNewsSystemMessagesById(id: kotlin.String): HttpResponse<GetNewsSystemMessagesById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/news/system-messages/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Update an existing system message
     * @param id 
     * @param patchNewsSystemMessagesByIdRequest  (optional)
     * @return PatchNewsSystemMessagesById200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun patchNewsSystemMessagesById(id: kotlin.String, patchNewsSystemMessagesByIdRequest: PatchNewsSystemMessagesByIdRequest? = null): HttpResponse<PatchNewsSystemMessagesById200Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = patchNewsSystemMessagesByIdRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/news/system-messages/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Create a new system message
     * @param postNewsSystemMessagesRequest 
     * @return PostNewsSystemMessages201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postNewsSystemMessages(postNewsSystemMessagesRequest: PostNewsSystemMessagesRequest): HttpResponse<PostNewsSystemMessages201Response> {

        val localVariableAuthNames = listOf<String>("sessionAuth")

        val localVariableBody = postNewsSystemMessagesRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/news/system-messages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
